*{
    margin: 0;
    padding: 0;
}

.formulario{
    width: 60%;
    height: auto;
    margin-left: 30%;
    margin-top: 3rem;
    margin-right: 0;
}

.header-1{
    border: 2px solid black;
}

.header-2{
    width: 97%;
}
.card-title-1{
    font-size: 50px;
}

.flex-new{
    display:flex;
    width: 20vw;
    height: 10vh;
    border: 2px red solid;
    font-size: 50px;
}
.p-contador{
    font-size: 50px;
}